.app-nav > li > a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;   
}

.app-nav > li > a > i {
    margin-right: 5px;
}

.card > .card-body {
    padding-bottom: 2px;
}

.col-md-12 > .font-1 {
    font-size:90px;
}

.col-md-12 > .font-2 {
    font-size:130px;
    padding: 0px 15px;
}

.col-md-12 > .font-3 {
    font-size:90px;
}

.row > img {
    width: 220px;
    margin-left: 40%;
}

@media(max-width: 768px)
{
    .row > img {
        width: 200px;
        margin-left: 25%;
    }
}